@model IEnumerable<RateMyAmenity.Models.Amenity>

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    <p>
        Find Amenity: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null)
{
    
    foreach (var group in Model.GroupBy(item => item.Description))    
    {        
		<!--DROP LIST-->
		<div class="dropList_header">
			@Html.Encode(group.Key) 
		</div>
			
	    <div class="dropList_content">
		<div>				

         @foreach (var item in group)       
         {        				
            <p> 
                @Html.ActionLink(item.Name, "Details", new { id = item.AmenityID })
		    </p>	       
	     }
	    
        </div>
		</div>

	}
} 


