<div id="twidget">
	<h3 class="clear" style="display:inline">Twitter Widget</h3>
	<div class = "center">
		<script type ="text/javascript" charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script type="text/javascript">
	new TWTR.Widget({
		version: 2,
		type: 'search',
		search: 'Fingal, Ireland', //Insert Search string here.
		interval: 30000,
		title: 'Fingal', 		// Add a title & Subject
		subject: 'News',
		width: "100%",
		height: 300,
		theme: {
			shell: {
				background: '#8ec1da',
				color: '#ffffff'
			},
			tweets: {
				background: '#ffffff',
				color: '#444444',
				links: '#1985b5'
			}
		},
		features: {
			scrollbar: false,
			loop: true,
			live: true,
			behavior: 'default'
		}
	}).render().start();
</script>
		</div>
	</div>