@{
    ViewBag.Title = "About";
}



<h3>About this Project</h3>
<p>Wonderful!!</p>

<br />

<h3>The Development Team</h3>

<p>Anna Coffey (x10210504)</p>
<p>Kenneth Ryan ( x10209778)</p>
<p>Gerard Tamakloe (x10208828)<p>
<p>Brian Wade (x10210989)</p>

