<!DOCTYPE html>
<html lang="en">
<head>
    <title>ASP.NET Web API</title>
    <script src="../../Scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
    
    <script src="../../Scripts/apiam.js" type="text/javascript"></script>
</head>

<body>
    <div>
        <h1>Amenities</h1> 
        <ul id='RateAPIs' />
    </div>
    <div>
        <label for="AmenityID">AmenityID:</label>
        <input type="text" id="AmenityID" size="5"/>
        <input type="button" value="Search" onclick="find();" />
        <p id="RateAPI" />
    </div>
</body>
</html>


       