@{
    ViewBag.Title = "MapCheck";
}

<script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script src="../../Scripts/RateMyAmenity.js" type="text/javascript"></script>


@*<ol class="round">
    <li class="one">
        <h2>Locate Amenities</h2>
        This is a Enterprise Framework Project that lists and rates Amenities. 
    </li>

</ol> *@

<div id="mapDivLeft">

    <div id="searchBox">
        Enter your location @Html.TextBox("Location")
        <input id="search" type="submit" value="Search"/>
    </div>

    <div id="theMap">
    </div>

</div>

<div id="mapDivRight">
    <div id="dinnerList"></div>
</div>

<script type="text/javascript">

	$(document).ready(function () {
		RateMyAmenity.LoadMap();
	});

	$("#search").click(function (evt) {
		var where = jQuery.trim($("#Location").val());
		if (where.length < 1)
			return;
		RateMyAmenity.FindAddress(where);
	});

</script>