@model IEnumerable<RateMyAmenity.ViewModels.RatingAverage>

           
@{
    ViewBag.Title = "Rating Average";
}

<h2> Rating Average </h2>

<table>
    <tr>
        <th>
            Amenity ID
        </th>
        <th>
            Average Rating
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.AmenityID
        </td>
        <td>
            @item.RatingValue
        </td>
    </tr>
}
</table>