@{
	ViewBag.Title = "Home Page";
	
	<script src="../../Scripts/setMap.js" type="text/javascript"></script>
}



<div id="submenu">
	<h3 class="clear" style="display:inline">Amenity Type</h3>
	 <div class = "center">  @Html.Partial("_AmenityDetails")</div>
 </div>


 <div>  @Html.Partial("_GoogleMap")</div>

<div>  @Html.Partial("_Twidget")</div>