
@{
	ViewBag.Title = "Home Page";
}


<div id="submenu">
	<h3 class="clear" style="display:inline">Amenity Type</h3>
	 <div class = "center">  @Html.Partial("_Home")</div>
 </div>


 <div>  @Html.Partial("_MapCheck")</div>

<div>  @Html.Partial("_Twidget")</div>

